@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@theme{
    --color-primary:#36454F ;
     --font-montserrat: "Montserrat"; 
}


@layer utilities{

  .main-container{
    @apply mx-auto max-w-7xl h-screen ;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

.shadow-bottom {
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
}

.box-shadow:hover{
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2) ;
  border-radius: 10px;
}




}
